<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "club_logo.png", alt: "Cocktail", width: 50 %></a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" id="navsearch">
    <button class="btn btn-success my-2 my-sm-0" type="submit" id="enter">Search</button>
    <a class="btn btn-primary my-2 my-sm-0" type="button" <%= link_to 'Add Cocktail', :new_cocktail %></a>
  </div>
</div>
